*
{
	margin:0;
	padding:0;
}

a
{
	text-decoration:none;
}

body
{
	background-color: #112;
	color:#BBB;
	font:normal 62.5% "Lucida Sans Unicode", "Lucida Grande", serif;
	margin:0 12%;
	min-width: 800px;
}

p,ul
{
	font-size:1.2em;
	padding-bottom:1.2em;
}

blockquote
{
	font:bold 1em sans-serif;
}

code
{
	background:#444;
	display:block;
	font-size:12px;
	margin:0 10px 12px;
	overflow:auto;
	padding:8px 10px;
	white-space:pre;
}

img
{
	border:none;
}

ul
{
	margin-left:2em;
}

h1
{
	font:normal 2.4em sans-serif;
}

h2
{
	font:bold 1.6em Verdana,sans-serif;
	padding-bottom:4px;
}

.clearer
{
	clear:both;
}

.stripes
{
	background:#333 url(img/stripe.gif);
	height:6px;
}

.header
{
	background:#111;
	border-bottom:1px solid #333;
	font:normal 2em sans-serif;
	height:120px;
}

.header a
{
	color:#888;
	display:block;
	line-height:120px;
	text-decoration:none;
	width:100%;
}

.header span
{
	padding-left:32px;
}

.header a:hover
{
	background:#191919;
	color:#BBB;
}

.container
{
	border:3px solid #444;
	border-top:none;
}

.main
{
	background:#303030;
	border-bottom:1px solid #2A2A2A;
	border-left:1px solid #2A2A2A;
}

.main .left
{
	width:64%;
}

.main .right
{
	width:36%;
}

.content
{
	border-left:1px solid #444;
	border-top:1px solid #444;
	padding:16px;
}

.content h1
{
	background:url(img/bgh1.gif) repeat-x left bottom;
	color:#EEE;
	margin-bottom:10px;
	padding:6px 0 4px;
}

.content a
{
	color:#999;
	text-decoration:underline;
}

.content a:hover
{
	color:#CCC;
}

.content .descr
{
	margin-bottom:5px;
}

.nav
{
	background:#191919 url(img/nav.gif);
}

.nav a
{
	background:#191919 url(img/nav.gif);
	border-right:1px solid #161616;
	color:#CCC;
	float:left;
	font:bold 1em Verdana,sans-serif;
	line-height:51px;
	padding:0 20px;
}

.subnav
{
	background:#2A2A2A;
	border:1px solid #1E1E1E;
	border-top-color:#444;
	/* padding:12px; */
}

.subnav ul
{
	margin:0;
}

.subnav li
{
	background:url(img/li.gif) no-repeat left bottom;
	list-style:none;
	margin:0;
}

.subnav li a
{
	color:#777;
	line-height:2.4em;
	padding-left:18px;
	text-decoration:none;
}

.subnav li a:hover
{
	color:#BBB;
}

.footer
{
	background:#191919;
	border-top:1px solid #444;
	color:#999;
	padding: 10px 2% 1%;
}

.footer a:hover
{
	background:#222;
	color:#BBB;
}

.footer
{
	clear:both;
	color:#666;
	font-size:1.1em;
}

.footer a,.footer .right a:hover
{
	color:#888;
}

div.galImg {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    height: 200px;
}

div.galImg:hover {
    border: 1px solid #777;
}

div.galImg img {
    width: 100%;
    height: auto;
}

div.galDesc {
    padding: 15px;
    text-align: center;
}

div.gal {
    margin: auto;
}